.cart {
  color: #312c1d;
  background-color: whitesmoke;
}

.cart h2,
.cart h4 {
  margin: 0.5rem 0;
  padding-bottom: 1%;
}

.cart ul {
  list-style: none;
  padding: 0;
  padding-bottom: 2%;
  border-bottom: 1px solid #312c1d;
  display: flex;
  flex-direction: column;
}

.cart li {
  padding: 0.5rem;
}

.cart button {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
}

.cart button:hover,
.cart button:active {
  transform: scale(1.02);
  /* background-color: #ffab04;
  border-color: #ffab04;
  color: #1f1a09; */
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
  font-size: 1.15rem;
  color: #312c1d;
}

.cart-total p {
  padding: 0 1%;
}

.cart-total div {
  font-weight: bold;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item p {
  margin: 0;
}

.cart-item:hover {
  background-color: lightgrey;
}

.cart-item-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cart-item-actions button {
  cursor: pointer;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #312c1d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-actions button:hover,
.cart-item-actions button:active {
  background-color: #1d1a16;
  color: lightgray;
}

.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.control-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.close {
  background-color: gray;
  border-top: 2px solid darkgrey;
}

.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #312c1d;
  margin-bottom: 2%;
}

.your-purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.img-and-name {
  display: flex;
  align-items: center;
}

.img-and-name p {
  padding-left: 1rem;
}

.inner-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-left: 0.5rem;
}

.inner-text p {
  border: 1.5px solid grey;
  background-color: #312c1d;
  color: white;
  padding: 1px 6px;
}

.price {
  padding-left: 0.5rem;
}