.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-box {
  display: flex;
  width: 50%;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
}

.input-box label {
  text-align: right;
}

.input-box input {
  width: 80%;
  height: 2rem;
  box-sizing: border-box;
  margin: 10px 0;
  font-size: 1rem;
  padding-left: 1%;
  margin-left: 2%;
}

.last-line {
  display: block;
  color: red;
}

@media (max-width: 768px) {
  .inputbox {
    width: 100%;
  }
}
