.header {
  background-color: rgba(139, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3%;
  width: 100%;
  height: 6rem;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-family: 'Inherit', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.navigation {
  display: flex;
  padding: 1rem;
  justify-content: baseline;
  align-items: center;
}

.navigation li {
  padding: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation li.search {
  position: relative;
}

.navigation li.search input {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: 5%;
}

.navigation li.search svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  fill: white;
  width: 20px;
  height: 20px;
}

.items-container {
  display: flex;
}

.items {
  max-width: 4rem;
  font-size: small;
  text-align: center;
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.items svg {
  height: 33px;
  width: 33px;
}

.search-container {
  display: flex;
}

.drop-button {
  border-top-left-radius: 15px;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  cursor: pointer;
}

.glass {
  border: none;
  background-color: rgba(139, 0, 0, 0);
  padding-left: 1%;
  cursor: pointer;
}

.dropdown {
  font-size: 14px;
  position: absolute;
  top: 78%;
  left: 4%;
  background-color: grey;
  border: 1px solid darkgrey;
  border-radius: 5px;
  border-top-left-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 12rem;
}

.dropdown a {
  color: white;
  text-decoration: none;
  padding: 8px 0;
}

.dropdown a:hover {
  background-color: rgb(62, 62, 62);
  border-radius: 5px;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .header {
    height: 8rem;
    padding: 5%;
  }
  .logo {
    font-size: 0.8rem;
  }
  .navigation {
    flex-direction: column;
  }
  .dropdown {
    width: 7rem;
  }
}

@media (max-width: 430px) {
  .header {
    height: 10rem;
  }
  .logo {
    font-size: 0.8rem;
  }
  .navigation {
    flex-direction: column;
  }
  .dropdown {
    width: 5rem;
    margin-left: 5px;
  }
  .search-container {
    width: 16rem;
  }
  .search-container svg {
    display: none;
  }
}
